pandas // לעבודה עם נתונים 
numpy  // לעבודה עם מערכים
openpyxl // לעבודה עם קבצי אקסל
scikit-learn // למידת מכונה של הפייתון
pywin32 // למדידה של זיכרון במערכת ההפעלה 
matplotlib // ליצירת גרפים וויזואליזציה של נתונים

